<p>events OK</p>

<a href="/events/add-event"><button>add your event</button></a>

<a href="/events/edit-event"><button>edit your event</button></a>

<h2>CHECK OUT THE COOLEST EVENTS IN THE CITY (PONER EMOJI DE FUEGO)</h2>

{{!-- {{#each isUserLoggedIn}}
  <p><img src="{{currentUserInfo.photo}}"></p>
  <p>{{ currentUserInfo.fullname}}. </p>
  <p>{{ currentUserInfo.description}}. </p>
{{/each}} --}}