
<div class="align-allevent">
        <h1 class="eventtitle">ATTACH YOUR NEW PICTURE HERE! &#128394</h1>
    </div>
<div class="align-photoedit-event">
    <img class="photoedit-event-width" src="{{event.imgPath}}" alt="{{event.name}}">

    <form class="editform" action="/events/editPhoto?event_id={{event._id}}" method="post"
        enctype="multipart/form-data">
        <input type="file" name="photo" required />
        </br>
        <button class="btneditevent2 futurist-button" type="submit">Edit image </button>
    </form>
</div>