<form action="/login" method="POST" id="form">
    <h2>Login to I <img class="floating-heart" src="https://img.icons8.com/ios-filled/2x/pixel-heart.png" width="55" height="35"> HACK</h2>
    <div class="loginbtn">
    <label for="email">Email</label>
    <input type="email" name="email">

    <label for="password">Password</label>
    <input type="password" name="password">
<div>
    <button class="signboton futurist-button">Log-me-in!</button>
    <p class="account-message"> Don't have an account? <a href="/signup">Sign up</a>
    </p>
    </div>
    </div>
    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    
</form>