{{!-- <h1 class="tituloindex">{{title}}</h1> --}}
<div class="index-align">
    <img class="logo " src="images/Break your shell.png" >
    <div class="index-side">
        <div clas="index-text">
            <p>What is I love Hack?</p>
            <p>This app emerged to bring love to every corner of the world. You should be
                asking yourself by now: how? We have developed a questionnaire, recognised
                by international eminences, that will only show you people with a reeeeeally strong
                compatibility.</p>
            <p>Try it! It is free!</p>
        </div>

        <div class="btnlog">
            <a href="/login"><button class="futurist-button " id="index-buttons">LOG IN</button></a>

            <a href="/signup"><button class="futurist-button " id="index-buttons">SIGN UP</button></a>
        </div>
    </div>
</div>