{{!-- <h1 class="tituloindex">{{title}}</h1> --}}

<img class="logo" src="/images/logo i<3Hack.png" width="800" height="900">
<div class="btnlog">
<a href="/login"><button>LOG IN</button></a>

<a href="/signup"><button>SIGN UP</button></a>
</div>
{{!-- <div class="camera">
  <div class="bottom"></div>
  <div class="picture"></div>
  <div class="glass"></div>
  <div class="top"></div>
  <div class="lens"></div>
  <div class="details">
    
  </div>
</div>  --}}