<i class="align-allevent">
  <h2 class="eventtitle">EDIT YOUR PROFILE INFO &#128394</h2>
</i>
  <form class="editform1" action="/user/edit?user_id={{user._id}}" method="post">

    <label for="email">E-mail</label>
    <input type="email" name="email" value="{{user.email}}" />


    <br />
    <label for="password">Password*</label>
    <input type="password" name="password" required />


    <br />
    <label for="repeatPassword">Repeat password*</label>
    <input type="password" name="repeatPassword" required />


    <br />
    <label for="fullname">Full name</label>
    <input type="text" name="fullname" value="{{user.fullname}}" />

    <br />
    <label for="description">Description</label>
    <input type="text" name="description" value="{{user.description}}" />


    <button class="btneditevent1 futurist-button" type="submit">Edit profile</button>
  </form>
  <button class="btn-delete futurist-button" type="submit">Delete account</button>
  </form>