* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

img{
  border-radius: 50px;
}

a {
  color: #00b7ff;
}

#form {
  margin: 180px auto;
  width: 580px;
}

#form h2{
  margin-bottom: 30px;
  text-align: center;
  font-size: 55px;
  font-family: 'Orbitron', sans-serif;
 
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 46px;
  font-family: 'VT323', monospace;
  padding: 20px;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 30px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
}

#form button {
  background: #43a3e6;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 34px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
  height: 100px;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
.account-message{
  font-size: 34px;
}

.signboton{
  margin-top: 40px;
}


/* TEST */
form{
  font-size:31px;
  /* font-family: 'VT323', monospace; */
}

.test1{
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  
}

.pregunta{
  margin-top: 60px;
}

.respuestas{
  font-family:'VT323', monospace;
}

.registrobtn{
  margin-top: 90px;
}

/* .radio{
  float: right; 
display: block;
text-align:right;
width: 200px;
margin-top: 10px;
} */


/* ESto es el estilo del FAQ */
.FAQ{
  display:flex;
  justify-content: center;
  margin-top: 70px;
}
.textoFAQ{
display:flex;
  justify-content: center;
  font-size: 60px;
}
.service-box {
font-size:1.7em;
text-align:center;
border: 2px solid #eee;
border-radius: 20px;
box-sizing: border-box;
box-shadow: 2px 2px 10px 0 #eee;
margin: 50px 5% 0 5%;
padding: 20px;
width: 90%;
background-color:white;
font-size: 35px;
}
.service-box img {
height:125px;
}
#structure > div{
display: flex;
justify-content: between;
flex-direction: column;
flex-wrap: wrap;
}
#structure{
background-image:url("") ;
background-size: cover; 
}



/* NAVBAR */
.navbar{
  font-size: 47px;
  font-family: 'VT323', monospace;
}

nav{
  margin-top: -25px;
  width: 106%;
  margin-left: -26px;
  margin-top: -50px;
}



/* FORMULARIO DE SIGN UP */
.genero{
  display: flex;
  flex-direction: row;
}
/* ANIMACION */
.ironman{
  margin-left: 40%;
  margin-top: -190px;
  animation-name: ironman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-left: -25px;
  padding-left: 20px;
}
@keyframes ironman{
  50% {

    transform: translate(0, 90px);
 }

}

/* INDEX */

.tituloindex{
  font-size: 130px;
  margin-left: 23%;
  margin-top: 30%;
}

.btnlog{
  /* margin-left: 30%; */
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  font-size: 70px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 80px;
}

.logo{
  margin-left: 30px;
}

/* LOGIN */

.loginbtn{
  padding-top: 30px;
}

.loginstc{
  margin-top: 87px;
}


/* MY PROFILE */
.greeting{
  font-size: 38px;
  padding-top: 10%;
}
.fullname{
  font-size: 38px;
  margin-left: 50%;
}

.descripcion{
  font-size: 38px;
  /* margin-left: 26%;  */
  text-align: center;
}

.btnprofile{
  /* display: flex;
  justify-content: space-around; */
  box-sizing: border-box;
  font-size: 70px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 100px;
  margin-left: 82px;
  /* padding-top: 80px; */
}

.btnmatch{
  margin-top: 260px;
}

.profileimg{
max-width: 500px;
max-height: 800px;
min-width: 400px;
min-height: 700px;
margin-top: 100px;
}

.profile-align{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


/* ALL EVENTS */
.eventalign{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}
.btnprofile2{
  /* display: flex;
  justify-content: space-around; */
  box-sizing: border-box;
  font-size: 50px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 10px;
  margin-left: 230px;
}

.btnevent{
  
  padding-top: 30px;
}

.eventtitle{
  font-size: 60px;
  margin-top: 80px;
  
}

.nombreevento{
  font-size: 38px;
  padding-top: 50px;
  text-align: center;
}

.imgevent{
  padding-top: 100px;
  /* max-width: 600px;
max-height: 700px;
min-width: 600px;
min-height: 700px; */
width: 53rem;
}

/* ADD-EVENT */

.tituloadd{
  font-size: 56px;
  margin-left: 32%;
  padding-top: 40px;
  padding-bottom: 30px;
}
.descadd{
  font-size: 36px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.formadd{
  margin-left: 22%;
  padding-bottom: 90px;
}

.addbtn{
  box-sizing: border-box;
  font-size: 50px;
  outline: 0;
  padding: 4px;
  width: 70%;
  margin-bottom: 20px;
  padding-right: 10px;
  margin-left: 130px;
}

.align-allevent{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btnadd2{
  box-sizing: border-box;
  font-size: 50px;
  outline: 0;
  padding: 4px;
  width: 70%;
  margin-right: -33%;

}

/* EDIT EVENT */

.btneditevent{
  box-sizing: border-box;
  font-size: 50px;
  outline: 0;
  padding: 4px;
  width: 50%;
  margin-bottom: 20px;
  padding-right: 10px;
  margin-left: 60px;
  margin-top: 140px;
  
}

.tituloedit{
  margin-left: 41%;
  font-size: 52px;
}

.editform{
  margin-left: 27%;
  margin-top: 90px;
  
}

/* EVENT DETAIL */
.align-event-details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -230px;
}
 .img-eventdetails{
   width: 53rem;
 }

 #event-details p{
   font-size: 36px;
 }
 
 .details-button{
   font-size: 42px;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }




 /* CAMARA */
/* body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.camera {
  width: 200px;
  height: 225px;
  position: relative;
}
.bottom {
  position: absolute;
  height: 225px;
  width: 200px;
  background: #b4ab9c;
  border-radius: 20px;
}
.bottom::after {
  content: "";
  width: 80%;
  position: absolute;
  height: 15px;
  background-color: #403d37;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}
.top {
  position: absolute;
  height: 170px;
  width: 200px;
  background: #d3c8b6;
  background-image: radial-gradient(circle at 50% 34%, #d3c8b6, #d3c8b6 3px, transparent 5px), radial-gradient(circle at 55% 38%, #d3c8b6, #d3c8b6 1px, transparent 3px), radial-gradient(circle at 50% 40%, #607e7c, #607e7c 20px, #455 20px, #455 25px, #403d37 25px, #403d37 40px, transparent 40px), linear-gradient(to bottom, #d3c8b6, #d3c8b6 60%, #ccc1b0 60%, #ccc1b0 80%, #d3c8b6 80%, #b4ab9c 80%);
  border-radius: 20px 20px 0 0;
}
.top::after {
  content: "";
  width: 50px;
  height: 1px;
  border-radius: 0 0 50% 50%;
  background-color: #403d37;
  position: absolute;
  bottom: 72px;
  left: 50%;
  transform-origin: bottom;
  transform: translate(-50%);
  animation: close 3s infinite;
}
.top::before {
  content: "";
  width: 50px;
  height: 1px;
  border-radius: 50% 50% 0 0;
  background-color: #403d37;
  position: absolute;
  top: 40px;
  left: 50%;
  transform-origin: top;
  transform: translate(-50%);
  animation: close 3s infinite;
}
.lens {
  position: absolute;
  height: 170px;
  width: 200px;
  border-radius: 20px 20px 0 0;
  background-image: radial-gradient(circle at 50% 40%, transparent, transparent 25px, #403d37 25px, #403d37 40px, transparent 40px);
}
.details {
  position: absolute;
  height: 170px;
  width: 200px;
  background-image: radial-gradient(circle at 18% 40%, #f95251, #f95251 10px, #b4ab9c 10px, #b4ab9c 12px, transparent 12px), radial-gradient(circle at 85% 38%, #403d37, #403d37 8px, #b4ab9c 8px, #b4ab9c 10px, transparent 10px);
}
.details::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 20px;
  background-color: #403d37;
  border-radius: 5px;
  top: 15px;
  left: 8%;
}
.details::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 5px solid #383530;
  background-color: #403d37;
  border-radius: 2px;
  top: 15px;
  right: 8%;
  background-image: radial-gradient(circle at center, #607e7c, #607e7c 10%, #455 20%, #403d37 30%);
}
.picture {
  width: 150px;
  height: 170px;
  position: absolute;
  background-color: #d2cfc7;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  animation: 3s print infinite;
}
.picture::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  left: 50%;
  top: 12px;
  transform: translate(-50%);
  background-color: #403d37;
  background-image: linear-gradient(47deg, #403d37 50%, #383530 50%);
}
.picture::after {
  content: "";
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 0;
  background-color: #d2cfc7;
}
@keyframes close {
  10% {
    transform: translate(-50%) scaleY(30);
 }
  20% {
    transform: translate(-50%) scaleY(0);
 }
}
@keyframes print {
  30% {
    bottom: 55px;
 }
  100% {
    bottom: -100px;
 }
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.camera {
  width: 200px;
  height: 225px;
  position: relative;
}
.bottom {
  position: absolute;
  height: 225px;
  width: 200px;
  background: #b4ab9c;
  border-radius: 20px;
}
.bottom::after {
  content: "";
  width: 80%;
  position: absolute;
  height: 15px;
  background-color: #403d37;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
}
.top {
  position: absolute;
  height: 170px;
  width: 200px;
  background: #d3c8b6;
  background-image: radial-gradient(circle at 50% 34%, #d3c8b6, #d3c8b6 3px, transparent 5px), radial-gradient(circle at 55% 38%, #d3c8b6, #d3c8b6 1px, transparent 3px), radial-gradient(circle at 50% 40%, #607e7c, #607e7c 20px, #455 20px, #455 25px, #403d37 25px, #403d37 40px, transparent 40px), linear-gradient(to bottom, #d3c8b6, #d3c8b6 60%, #ccc1b0 60%, #ccc1b0 80%, #d3c8b6 80%, #b4ab9c 80%);
  border-radius: 20px 20px 0 0;
}
.top::after {
  content: "";
  width: 50px;
  height: 1px;
  border-radius: 0 0 50% 50%;
  background-color: #403d37;
  position: absolute;
  bottom: 72px;
  left: 50%;
  transform-origin: bottom;
  transform: translate(-50%);
  animation: close 3s infinite;
}
.top::before {
  content: "";
  width: 50px;
  height: 1px;
  border-radius: 50% 50% 0 0;
  background-color: #403d37;
  position: absolute;
  top: 40px;
  left: 50%;
  transform-origin: top;
  transform: translate(-50%);
  animation: close 3s infinite;
}
.lens {
  position: absolute;
  height: 170px;
  width: 200px;
  border-radius: 20px 20px 0 0;
  background-image: radial-gradient(circle at 50% 40%, transparent, transparent 25px, #403d37 25px, #403d37 40px, transparent 40px);
}
.details {
  position: absolute;
  height: 170px;
  width: 200px;
  background-image: radial-gradient(circle at 18% 40%, #f95251, #f95251 10px, #b4ab9c 10px, #b4ab9c 12px, transparent 12px), radial-gradient(circle at 85% 38%, #403d37, #403d37 8px, #b4ab9c 8px, #b4ab9c 10px, transparent 10px);
}
.details::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 20px;
  background-color: #403d37;
  border-radius: 5px;
  top: 15px;
  left: 8%;
}
.details::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 5px solid #383530;
  background-color: #403d37;
  border-radius: 2px;
  top: 15px;
  right: 8%;
  background-image: radial-gradient(circle at center, #607e7c, #607e7c 10%, #455 20%, #403d37 30%);
}
.picture {
  width: 150px;
  height: 170px;
  position: absolute;
  background-color: #d2cfc7;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  animation: 3s print infinite;
}
.picture::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  left: 50%;
  top: 12px;
  transform: translate(-50%);
  background-color: #403d37;
  background-image: linear-gradient(47deg, #403d37 50%, #383530 50%);
}
.picture::after {
  content: "";
  width: 150px;
  height: 30px;
  position: absolute;
  bottom: 0;
  background-color: #d2cfc7;
}
@keyframes close {
  10% {
    transform: translate(-50%) scaleY(30);
 }
  20% {
    transform: translate(-50%) scaleY(0);
 }
}
@keyframes print {
  30% {
    bottom: 55px;
 }
  100% {
    bottom: -100px;
 }
} */
